.container {
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 3rem;
    gap: 1.5rem;
    background: #fff;
    border-radius: 2.2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.container>img {
    height: 14rem;
}

.container>h3 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--primary_blue);
}

.container>h5 {
    text-align: center;
    font-size: 2rem;
    color: var(--text_mid);
}


/*  */
@media (max-width: 1400px) {
    .container>h3 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--primary_blue);
    }

    .container>h5 {
        text-align: center;
        font-size: 1.8rem;
        color: var(--text_mid);
    }
}


@media (max-width: 1199.98px) {

    .container {
        width: 28rem;
        padding: 3rem 2rem;
        gap: 1.5rem;
    }
    
    .container>img {
        height: 12rem;
    }    

    .container>h3 {
        font-size: 2rem;
    }

    .container>h5 {
        font-size: 1.6rem;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .container {
        width: 24rem;
        padding: 3rem 1rem;
        gap: 1rem;
    }
    
    .container>h3 {
        font-size: 1.8rem;
    }

    .container>h5 {
        font-size: 1.4rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .container {
        width: 26rem;
        padding: 3rem 2rem;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {}