
.wrapper {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4rem;
}

/* Top navigation styling */

.top_navigation {
    display: flex;
    align-items: center;
    align-self: flex-start;
    grid-gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary_blue);
}

.top_navigation > a {
    grid-gap: .5rem;
    color: var(--primary_blue);
    display: flex;
    align-items: center;
}

.top_navigation img {
    width: .8rem;
}

/* Top navigation styling ends here */


.title {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
}

.title > h2 {
    color: var(--primary_blue);
    text-align: center;
}

.title_yellow {
    color: var(--primary_yellow);
}

.title > h5 {
    text-align: center;
    color: var(--text_mid);
}

.title_button {
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
}

.title_button > button {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    width: fit-content;
}

.title_button > button > img {
    width: 3rem;
}

/* Input box start here */

.input_box {
    position: relative;
    background: #fff;
    display: flex;
    grid-gap: 2rem;
    padding: .5rem;
    align-items: center;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
}

.input_box input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.8rem;
    color: var(--primary_blue);
}

.input_line {
    height: 3rem;
    width: 1px;
    background: #003986;
}

.dropDown {
    display: flex;
    grid-gap: 3rem;
    align-items: center;
    cursor: pointer;
}

.dropDown>p {
    font-weight: 600;
    color: var(--primary_blue);
}

.dropDown>img {
    width: 1rem;
}

.dropDown_menu {
    display: none;
    transition: 0.2s;
}

.dropDown_menu.active {
    position: absolute;
    bottom: -7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.dropDown_list {
    padding: .5rem .5rem;
    width: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.dropDown_list:hover {
    background: rgb(236, 236, 236);
}

.dropDown_list>p {
    color: var(--text_mid);
}

.dropDown_list>img {
    justify-self: flex-end;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: .5rem;
    border-bottom: 1px solid var(--primary_blue);
}


.location>img {
    width: 2.5rem;
}

.category {
    border-bottom: 1px solid var(--primary_blue);
}

.input_box>button {
    height: 4.5rem;
    display: flex;
    padding: 0 1rem;
    grid-gap: .5rem;
    align-items: center;
    justify-content: center;
}

.input_box>button>img {
    width: 2rem;
}

/* Input box ends here */

.looking_for {
    align-self: flex-start;
    color: var(--primary_blue);
}

.looking_button {
    align-self: flex-start;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 2rem;
}
/* Freelancers profile starts here */
    .freelancer {
        width: 100%;
        display: flex;
        grid-gap: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    
    .freelancer h5 {
        color: var(--primary_blue);
        font-weight: 600;
        font-size: 2.4rem;
    }
    
    .freelancer > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 3rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .arrow {
        display: flex;
        grid-gap: 1rem;
        justify-content: flex-start !important;
    }

    .arrow > img {
        width: 1rem;
    }
    
    .load_more {
        background: #fff;
        width: fit-content;
        border: 1px solid var(--primary_blue);
        border-radius: .5rem;
        padding: 1rem;
        color: var(--primary_blue);
        font-size: 1.6rem;
        font-weight: 600;
    }
/* Freelancers profile ends here */


.bottomContainer {
    background: rgba(235, 235, 235, 0.42);
    width: 100%;
    border-radius: 4rem;
    display: flex;
    grid-column-gap: 2rem;
    padding: 4rem 3rem;
}

.fontIcon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--primary_blue);
}

.desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: space-around;
}

.desc>h2 {
    color: var(--primary_blue);
    margin-bottom: 3rem;
}

.desc>h5 {
    width: 70%;
    color: var(--text_mid);
    margin-bottom: 2rem;
}

.freelancing {
    color: var(--primary_yellow);
}

.hustle {
    display: block;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.hustle::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2rem;
    background: var(--primary_yellow);
    z-index: -1;
}

.client_feature {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
}

.client_feature>h3 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary_blue);
}

.desc>button {
    width: 23rem;
    height: 5rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img>img {
    width: 90%;
}


/*  */
@media (max-width: 1400px) {

    /*  */
    .line {
        height: .6rem;
    }

    .line>div>span {
        height: .6rem;
    }


    .desc>h5 {
        font-size: 1.8rem;
    }

    .client_feature>h3 {
        font-size: 2.5rem;
    }

    .client_feature>img {
        width: 2rem;
    }
}


@media (max-width: 1199.98px) {

    /* Freelancers profile starts here */

    .freelancer h5 {
        font-size: 2.2rem;
    }
    
    .freelancer > div {
        justify-content: space-evenly;
        grid-gap: 2rem;
        flex-wrap: wrap;
    }

/* Freelancers profile ends here */

    .title {
        width: 70%;
        grid-gap: 1.5rem;
    }

    .title_button > button > img {
        width: 2.5rem;
    }
        

    /*  */
    .dropDown>p {
        font-size: 1.8rem;
    }

    .feature {
        grid-column-gap: 2rem;
    }

    .bottomContainer {
        border-radius: 2rem;
        grid-column-gap: 1rem;
        padding: 3rem 2rem;
    }

    .fontIcon {
        width: 2rem;
        height: 2rem;
    }

    .desc {
        width: 50%;
        grid-gap: .5rem;
    }

    .desc>h2 {
        margin-bottom: 1rem;
    }

    .desc>h5 {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .client_feature>h3 {
        font-size: 2rem;
    }

    .client_feature>img {
        width: 1.8rem;
    }

    .desc>button {
        width: 16rem;
        height: 4.8rem;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {

    .freelancer h5 {
        font-size: 2rem;
    }
    
    .title {
        width: 80%;
        grid-gap: 1.5rem;
    }

    .title_button > button > img {
        width: 2rem;
    }

    /*  */
    .input_box {
        grid-gap: 1rem;
        padding: .5rem;
    }

    .input_box input {
        font-size: 1.6rem;
    }

    .input_box>button>img {
        width: 1.5rem;
    }

    .title {
        margin-top: 1rem;
    }

    .feature {
        grid-column-gap: 1rem;
    }

    .desc {
        width: 60%;
    }

    .desc>h5 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    .client_feature>h3 {
        font-size: 1.8rem;
    }

    .client_feature>img {
        width: 1.5rem;
    }

    .desc>button {
        width: 12rem;
        height: 4rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {

    .title {
        width: 85%;
        grid-gap: 1rem;
    }

    /*  */
    .input_box {
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 2rem;
    }

    .input_line {
        display: none;
    }

    .input_box>button {
        margin-left: 0;
    }

    .dropDown_menu.active {
        bottom: 7rem;
        padding: .5rem;
    }

    .feature {
        align-items: center;
        grid-gap: 4rem;
        flex-direction: column;
    }

    .bottomContainer {
        display: flex;
        flex-direction: column;
        grid-gap: 3rem;
    }

    .fontIcon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .desc {
        width: 100%;
    }

    .img {
        justify-content: center;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {

    .title_button {
        flex-direction: column;
    }
    
    /*  */
    .title {
        width: 100%;
        grid-gap: 1.5rem;
    }

    .title {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}