.explore {
    /* width: 100%; */
    padding-top: 12rem;
}

.title {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1.5rem;
}

.title > img {
    width: 90%;
}

.title>h2 {
    color: var(--primary_blue);
    text-align: center;
}

.title>h5 {
    color: var(--text_mid);
    text-align: center;
}

.hustle {
    color: var(--primary_yellow);
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: 8rem;
}

/* Input box start here */

.input_box {
    position: relative;
    background: #fff;
    display: flex;
    grid-gap: 2rem;
    padding: .5rem;
    align-items: center;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
}

.input_box input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.8rem;
    color: var(--primary_blue);
}

.input_line {
    height: 3rem;
    width: 1px;
    background: #003986;
}

.dropDown {
    display: flex;
    grid-gap: 3rem;
    align-items: center;
    cursor: pointer;
}

.dropDown>p {
    font-weight: 600;
    color: var(--primary_blue);
}

.dropDown>img {
    width: 1rem;
}

.dropDown_menu {
    display: none;
    transition: 0.2s;
}

.dropDown_menu.active {
    position: absolute;
    bottom: -7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.dropDown_list {
    padding: .5rem .5rem;
    width: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.dropDown_list:hover {
    background: rgb(236, 236, 236);
}

.dropDown_list>p {
    color: var(--text_mid);
}

.dropDown_list > img {
    justify-self: flex-end;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: .5rem;
    border-bottom: 1px solid var(--primary_blue);
}


.location>img {
    width: 2.5rem;
}

.category {
    border-bottom: 1px solid var(--primary_blue);
}

.input_box>button {
    height: 4.5rem;
    display: flex;
    padding: 0 1rem;
    grid-gap: .5rem;
    align-items: center;
    justify-content: center;
}

.input_box>button>img {
    width: 2rem;
}

/* Input box ends here */


/* .location */
.job_location {
    width: 100%;
    grid-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name>h3 {
    cursor: pointer;
    width: 50%;
    color: var(--text_light);
    font-size: 3rem;
    text-align: center;
    transition: .2s;
}

.active {
    color: var(--primary_blue) !important;
}


.line {
    width: 100%;
    height: .8rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem;
    background-color: rgba(43, 43, 43, 0.1);
    ;
}

.line>div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line>div>span {
    border-radius: 1rem;
    display: block;
    width: 60%;
    height: .8rem;
    transition: .2s;
    /* background: var(--primary_blue); */
}

.line_active {
    background: var(--primary_blue);
}

.skill {
    width: 100%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.skill > a {
    text-decoration: none;
}

/*  */
@media (max-width: 1400px) {
    .name>h3 {
        font-size: 2.5rem;
    }


    .line {
        height: .6rem;
    }

    .line>div>span {
        height: .6rem;
    }

}


@media (max-width: 1199.98px) {
    .name>h3 {
        font-size: 2rem;
    }


    .line {
        height: .5rem;
    }

    .line>div>span {
        height: .5rem;
    }

    .skill {
        grid-gap: 2rem;
    }

    /*  */
    .dropDown>p {
        font-size: 1.8rem;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .explore {
        padding-top: 9rem;
    }
    
    .name>h3 {
        font-size: 1.8rem;
    }

    /*  */
    .input_box {
        grid-gap: 1rem;
        padding: .5rem;
    }

    .input_box input {
        font-size: 1.6rem;
    }

    .input_box>button>img {
        width: 1.5rem;
    }

}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .explore {
        padding-top: 8rem;
    }

    .skill {
        grid-template-columns: repeat(2, 1fr);
    }

    /*  */
    .input_box {
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 2rem;
    }

    .input_line {
        display: none;
    }
    
    .input_box>button {
        margin-left: 0;
    }

    .dropDown_menu.active {
        bottom: 7rem;
        padding: .5rem;
    }
    
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-gap: 2rem;
        width: 90%;
    }

    .skill {
        grid-template-columns: repeat(1, 1fr);
    }
}