.container {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.title {
    margin-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title>h5 {
    margin-top: 2rem;
    text-align: center;
    color: var(--text_mid);
}

.feature {
    justify-content: center;
    grid-column-gap: 8rem;
    width: 100%;
    display: flex;
}

.bottomContainer {
    background: rgba(235, 235, 235, 0.42);
    width: 100%;
    border-radius: 4rem;
    display: flex;
    grid-column-gap: 2rem;
    padding: 4rem 3rem;
}

.desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: space-around;
}

.desc>h2 {
    color: var(--primary_blue);
    margin-bottom: 3rem;
}

.desc>h5 {
    width: 70%;
    color: var(--text_mid);
    margin-bottom: 2rem;
}

.freelancing {
    color: var(--primary_yellow);
}

.hustle {
    display: block;
    width: fit-content;
    position: relative;
    z-index: 4;
}

.hustle::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2rem;
    background: var(--primary_yellow);
    z-index: -1;
}

.client_feature {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.client_feature>h3 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary_blue);
}

.fontIcon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--primary_blue);
}

.desc>button {
    width: 23rem;
    height: 5rem;
    margin: 0;
}

.img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img>img {
    width: 90%;
}


/*  */
@media (max-width: 1400px) {

    .desc>h5 {
        font-size: 1.8rem;
    }

    .client_feature>h3 {
        font-size: 2.5rem;
    }

    .client_feature>img {
        width: 2rem;
    }
}


@media (max-width: 1199.98px) {
    .feature {
        grid-column-gap: 2rem;
    }

    .bottomContainer {
        border-radius: 2rem;
        grid-column-gap: 1rem;
        padding: 3rem 2rem;
    }

    .fontIcon {
        width: 2rem;
        height: 2rem;
    }

    .desc {
        width: 50%;
        grid-gap: .5rem;
    }

    .desc>h2 {
        margin-bottom: 1rem;
    }

    .desc>h5 {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .client_feature>h3 {
        font-size: 2rem;
    }

    .client_feature>img {
        width: 1.8rem;
    }

    .desc>button {
        width: 16rem;
        height: 4.8rem;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .title {
        margin-top: 1rem;
    }  
    
    .feature {
        grid-column-gap: 1rem;
    }

    .desc {
        width: 60%;
    }

    .desc>h5 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    .client_feature>h3 {
        font-size: 1.8rem;
    }

    .client_feature>img {
        width: 1.5rem;
    }

    .desc>button {
        width: 12rem;
        height: 4rem;
    }    
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .feature {
        align-items: center;
        grid-gap: 4rem;
        flex-direction: column;
    }

    .bottomContainer {
        display: flex;
        flex-direction: column;
        grid-gap: 3rem;
    }

    .fontIcon {
        width: 1.8rem;
        height: 1.8rem;
    }


    .desc {
        width: 100%;
    }

    .img {
        justify-content: center;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .title {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}