.container {
    margin-top: 10rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
}

.wrapper > h3 {
    color: var(--primary_yellow);
}

.wrapper > h2 {
    color: var(--primary_blue);
}

/* Top navigation styling */

.top_navigation {
    display: flex;
    align-items: center;
    align-self: flex-start;
    grid-gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary_blue);
  }
  
  .top_navigation > a {
    grid-gap: .5rem;
    color: var(--primary_blue);
    display: flex;
    align-items: center;
  }
  
  .top_navigation img {
    width: .8rem;
  }
  
  /* Top navigation styling ends here */

/*  */
.profile_container {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    background: #F9F9F9;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 16px;
}

.profile_container h3 {
    font-size: 2.8rem;
    color: var(--primary_blue);
}

.profile_container h4 {
    padding: .5rem 2rem;
    width: fit-content;
    background: #F2F2F2;
    opacity: 0.8;
    border-radius: 24px;
    color: var(--primary_blue);
}

.profile_container h5 {
    font-size: 1.8rem;
    color: var(--text_mid);
}

.profile_wrapper {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    grid-gap: 3rem;
}

.profile > img {
    height: 15rem;
}

.title > h3:nth-child(2) {
    color: var(--primary_yellow) !important;
}

.title > div {
    display: flex;
    grid-gap: 1rem;
}

.title > div > h5 {
    color: var(--primary_blue);
}

/* Message start here */
.message {
    display: flex;
    grid-gap: 3rem;
}

.message > a {
    border: 2px solid var(--primary_blue);
    border-radius: .5rem;
    padding: .5rem 2rem;
    height: fit-content;
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;

}

.message > a > h6 {
    font-weight: 600;
}

.message > a:first-child > h6{
    color: var(--primary_blue);
}


.message > a:first-child > img{
    width: 2rem;
}

.message > a:nth-child(2) {
    color: #fff;
    background: var(--primary_blue);
}

/*  Message ends here*/

.skills > div {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.portfolio > div {
    display: flex;
    grid-gap: 2rem;
    flex-wrap: wrap;
}

.portfolio > h5{
    color: var(--primary_blue);
}

.reviews > h3 > span {
    color: var(--primary_yellow);
}

.reviews > div {
    display: flex;
    grid-gap: 4rem;
}

.portImages {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
/*  */


/* other Freelacers profile starts here */


/* Freelancers profile starts here */
.freelancer {
    width: 100%;
    display: flex;
    grid-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
}


.freelancer h5 {
    color: var(--primary_blue);
    font-weight: 600;
    font-size: 2.4rem;
}

.freelancer>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    display: flex;
    grid-gap: 1rem;
    justify-content: flex-start !important;
}

.arrow>img {
    width: 1rem;
}

@media (max-width: 1199.98px) {
    .wrapper {
        grid-gap: 2rem;
    }

    .profile_container h3 {
        font-size: 2.4rem;
    }
        
    .profile_container h5 {
        font-size: 1.6rem;
    }

    .profile > img {
        height: 12rem;
    }
    
    /* Freelancers profile starts here */

    .freelancer h5 {
        font-size: 2.2rem;
    }
    
    .freelancer > div {
        justify-content: space-evenly;
        grid-gap: 2rem;
        flex-wrap: wrap;
    }

/* Freelancers profile ends here */

}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .profile > img {
        height: 10rem;
    }

    .freelancer h5 {
        font-size: 1.8rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .container {
        margin-top: 8rem;
    }
    .wrapper {
        grid-gap: 1rem;
    }
    .profile_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
    }    

    .message {
        justify-content: space-between;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .profile_container {
        padding: 3rem 0.5rem;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1rem;
    }
    
    .message {
        flex-direction: column;
        grid-gap: 1rem;
    }

}