.container {
    padding: 2rem 0;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.logo>h3 {
    color: var(--primary_blue);
    position: relative;
}

.logo>h3>span {
    position: relative;
    left: -.8rem;
    display: inline-block;
    width: .5rem;
    height: .6rem;
    background-color: var(--primary_yellow);
}

.menu {
    display: none;
}

.nav_right {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav_right>img {
    display: none;
}


.links {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 4.2rem;
    align-items: center;
}

.links>li {
    list-style-type: none;
    /* margin:0 2rem; */
}

.links>li>a {
    text-decoration: none;
    color: var(--text_mid);
}


.active {
    border-bottom: 2px solid var(--primary_yellow);
}

.active h6 {
    font-weight: 500;
    color: var(--text_dark);
}

/*  */
/*  */
/*  */

.buttons {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    grid-gap: 3rem;
    align-self: flex-end;
}

.buttons>img {
    width: 4rem;
    cursor: pointer;
}

.buttons>img:last-child {
    border-radius: 50%;
}

.profile {
    display: none;
}

.profile.active {
    position: absolute;
    top: 5rem;
    padding: 1.5rem;
    right: 0;
    background: var(--primary_blue);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    z-index: 5;
}

.profile_hidd {
    display: none;
}

.profile_hidd.active {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
}

.profile_info {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    border-bottom: .5px solid #ffffff;
    grid-gap: 1rem;
}

.profile_info > img {
    width: 5.5rem;
    border-radius: 50%;
}

.profile_info h5 {
    color: #fff;
    font-size: 2rem;
}

.profile_info h6 {
    color: var(--primary_yellow);
    font-size: 1.6rem;
    font-weight: 500;
}

.profile_list {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.profile_list > p {
    color: #fff;
}

.profile_list > img {
    width: 2.5rem;
}

.profile > button {
    width: fit-content;
    padding: .5rem 1rem;
    align-self: center;
    background: #fff;
    border-radius: 1rem;
}

.profile > button > h5 {
    color: var(--primary_blue);
    font-weight: 600;
    font-size: 1.8rem;
}
/*  */
/*  */
/*  */


/*  */
@media (max-width: 1400px) {
    .links {
        grid-gap: 3.5rem;
    }
}


@media (max-width: 1199.98px) {
    .links {
        grid-gap: 2rem;
    }

    /* Buttons */
    .buttons {
        grid-gap: 2.5rem;
    }

    .buttons>img {
        width: 3rem;
    }

    .profile_info > img {
        width: 5rem;
    }
    
    .profile_info h5 {
        font-size: 1.8rem;
    }
        
    .profile_list > img {
        width: 2rem;
    }
    
    .profile > button {
        border-radius: .5rem;
    }
    
    .profile > button > h5 {
        font-size: 1.6rem;
    }
    
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .container {
        padding: 1.5rem 0;
    }

    .navbar {
        grid-template-columns: 1fr 4fr;
    }

    .links {
        grid-gap: 2rem;
    }

    .profile_info > img {
        width: 4rem;
    }
    
    .profile_info h5 {
        font-size: 1.6rem;
    }

    .profile_info h6 {
        font-size: 1.4rem;
    }
        
    .profile_list > img {
        width: 1.6rem;
    }
    
    .profile > button > h5 {
        font-size: 1.4rem;
    }
    
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .nav_right {
        display: none;
    }

    .navbar {
        grid-template-columns: 1fr 1fr;
    }

    .nav_right.toggle {
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        grid-gap: 2rem;
    }

    .links {
        width: 100%;
        flex-direction: column;
        grid-gap: 2rem;
    }

    .nav_right.toggle>img {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2.5rem;
    }

    .menu {
        cursor: pointer;
        display: block;
        width: 3rem;
        align-self: center;
        justify-self: flex-end;
    }

    .buttons {
        flex-direction: column;
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .profile.active {
        position: relative;
        top: 0;
        padding: 1.5rem;
        right: none;
        background: var(--primary_blue);
        box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        z-index: 5;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {}