.wrapper {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
}

/* Top navigation styling */

.top_navigation {
    display: flex;
    align-items: center;
    align-self: flex-start;
    grid-gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary_blue);
  }
  
  .top_navigation>a {
    grid-gap: .5rem;
    color: var(--primary_blue);
    display: flex;
    align-items: center;
  }
  
  .top_navigation img {
    width: .8rem;
  }
  
  /* Top navigation styling ends here */
  