.wrapper {
    margin-top: 10rem;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
}

.wrapper > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: .5rem 2rem;
}

.wrapper > button > h3 {
    color: #fff;
}


/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
  
 }
