.wrapper {
    width: 100%;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
}

.title > a {
    text-decoration: none;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: .5rem;
}

.title > a > h4 {
    color: var(--text_dark);
    font-weight: 600;
}

.hustle {
    width: fit-content;
    position: relative;
    z-index: 0;
    color: var(--primary_blue);
}

.hustle::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 2rem;
    background: var(--primary_yellow);
    z-index: -1;
}

.social_icons {
    display: flex;
    grid-gap: 3rem;
}

.social_icons > a {
    text-decoration: none;
}

.social_icons > a > img {
    width: 4.2rem;
    cursor: pointer;
}

.links {
    display: flex;
    grid-gap: 4rem;
    align-items: center;
}

.links > a {
    text-decoration: none;
}

.links > a > h5 {
    color: var(--text_dark);
}

.copyRight {
    padding: 1rem;
    width: 100%;
    border-top: 1px solid var(--text_light);
}

.copyRight > p {
    text-align: center;
    width: 100%;
    color: var(--text_mid);
}



/*  */
@media (max-width: 1400px) {
    .social_icons > a > img {
        width: 4rem;
        cursor: pointer;
    }
}


@media (max-width: 1199.98px) {
    .hustle {
        line-height: 3.8rem;
    }
    .hustle::before {
        height: 1.5rem;
    }

    .social_icons > a > img {
        width: 3.5rem;
        cursor: pointer;
    }   
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .wrapper {
        grid-gap: 1rem;
    }
    
    .social_icons > a > img {
        width: 3rem;
        cursor: pointer;
    }   

    .social_icons {
        grid-gap: 2rem;
    }
    
    .links {
        grid-gap: 3rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .wrapper {
        grid-gap: .5rem;
    }
    
    .social_icons > a > img {
        width: 2.5rem;
        cursor: pointer;
    }   

    .social_icons {
        grid-gap: 1.5rem;
    }
    
    .links {
        grid-gap: 2.5rem;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .social_icons {
        grid-gap: 1.5rem;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        grid-gap: .5rem;
    }
 }