.wrapper {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    padding: 3rem;
    border-radius: 10px;
    grid-gap: 2rem;
}

.wrapper h4 {
    width: fit-content;
    background-color: #fff;
    border-radius: 1.6rem;
    padding: .5rem 1rem;
    color: var(--primary_blue);
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title > h2 {
    color: var(--primary_blue);
    font-size: 3.6rem;
}

.title > div {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
}

.location {
    grid-gap: 1rem;
    display: flex;
    align-items: center;
}

.location > h5 {
    color: var(--primary_yellow);
}

.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.list > h6 {
    color: var(--primary_yellow);
    font-weight: 600;
}

.application {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.total_application {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.total_application > h5 {
    color: var(--primary_blue);
    font-weight: 600;
}

.links {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
}

.links a {
    border-bottom: 2px solid var(--primary_blue);
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary_blue);
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > button {
    color: #fff;
    margin: 0;
    padding: 0 2rem;
    width: fit-content;
    font-weight: 600;
    font-size: 1.8rem;
}

.time_left {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
    align-items: center;
}

.time_left > h2 {
    color: var(--primary_blue);
    font-size: 2.5rem;
}

.time_left > h4 {
    height: fit-content;
    color: var(--primary_yellow);
}

@media (max-width: 1199.98px) {
    .wrapper {
        padding: 2rem;
        grid-gap: 1rem;
    }

    .title img {
        width: 2.5rem;
    }

    .title > h2 {
        font-size: 3rem;
    }

    .links a {
        font-size: 1.6rem;
    }

    .info > button {
        padding: 1rem;
        height: fit-content;
        font-size: 1.6rem;
    }
    
    .time_left {
        grid-gap: 2rem;
    }
    
    .time_left > h2 {
        font-size: 1.6rem;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .title img {
        width: 2rem;
    }

    .title > h2 {
        font-size: 2.8rem;
    }
    
    .time_left {
        grid-gap: 1rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .title > h2 {
        font-size: 2.5rem;
    }    

    .location {
        grid-gap: .5rem;
    }

    .info > button {
        padding: 1rem;
        font-size: 1.4rem;
    }

    .links a {
        font-size: 1.4rem;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .wrapper {
        padding: 1rem;
    }  

    .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .location {
        grid-gap: 0;
    }

    .application {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 1rem;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 1rem;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 1rem;
    }
    
    .time_left {
        display: flex;
    }
}